@import "/src/assets/styles/variables";
@import "/src/assets/styles/fonts";

/*
 * Top-level styles
 */

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: $textColor;
  background-color: $bgColor;
  font-family: raleway_f, sans-serif;
  font-weight: 900;
  line-height: 1.55;
}